<html>

    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
        <title>
            మిశ్రమ పంట
        </title>
    </head>

    <body style="background-image: url(static/images/bg-01.jpeg); background-repeat: no-repeat; background-size: cover;">
        <center><img src="static/images/logo.png" height="100px"width="180px" style="padding-top: 0;"></center>
        <center><div class="tab">
          <h2 style="color: rgb(27, 47, 106);">పంట రకం ప్రిడిక్షన్</h2>
            <center><hr class="rounded"></center>
        <table>
        <form action="/crop_mixed_telugu" method = "POST">

            <tr>
                <td><label>నైట్రోజన్‌ని నమోదు చేయండి:</label></td>
                <td><input type="text" id="nit" name="nit" placeholder="For Example: 90"></td>
              </tr>

              <tr>
                <td><label>భాస్వరం నమోదు చేయండి:</label></td>
                <td><input type="text" id="phos" name="phos" placeholder="For Example: 42"></td>
              </tr> 

              <tr>
                <td><label>పొటాషియం నమోదు చేయండి:</label></td>
                <td><input type="text" id="pot" name="pot" placeholder="For Example: 43"></td>
              </tr>

              <tr>
                <td><label>ఉష్ణోగ్రత నమోదు చేయండి:</label></td>
                <td><input type="text" id="tem" name="tem" placeholder="For Example: 20.8"></td>
              </tr>

			        <tr>
                <td><label>తేమను నమోదు చేయండి:</label></td>
                <td><input type="text" id="hum" name="hum" placeholder="For Example: 20.8"></td>
              </tr>

              <tr>
                <td><label>PH స్థాయిని నమోదు చేయండి:</label></td>
                <td><input type="text" id="ph" name="ph" placeholder="For Example: 6.5"></td>
              </tr>
              
              <tr>
                <td><label>వర్షపాతాన్ని నమోదు చేయండి:</label></td>
                <td><input type="text" id="rf" name="rf" placeholder="For Example: 202.93"></td>
              </tr>

              <tr>
                <th colspan="2"><button class="button5">మిశ్రమ పంటను అంచనా వేయండి</button></th>
              </tr>
              
              <tr>
                    <td align ="center" colspan="2"><a href="home.html">హోమ్కి</a> తిరిగి వెళ్ళండి</a></td>
                </tr>
        </form>
    </table>
    </div></center>

    </body>
    
    </html>